body {

    margin: 0px;
    padding: 0xp;

    div#container {

        margin: 0px;
        padding: 0xp;
        border: none;
        display: flex;
        flex-direction: column;

        div#header-body {

            width: 100%;
            height: 120vh;
            border: none;
            display: flex;
            flex-direction: row;
            

            @import 'navbar';
            @import 'show';
        }

        @import 'footer';
    }
}
