div#order-pro {

    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    flex-direction: row;

    div#slideshow, div#order {

        width: calc(50% - 10px);
        margin: 5px;
        height: calc(100% - 10px);
    }

    @import 'show1';

    @import 'show2';

    @import 'order';
}