div#show {

    width: calc(100% - 200px);
    height: 100%;
    background-color: rgb(255, 255, 255);

    @import 'myAccount';

    @import 'logout';

    @import 'slider';

    @import 'control';

    @import 'products';

    @import 'paginations';
}