div#show1 {

    width: 100%;
    height: 80%;
    //border: 2px solid black;
    //background-color: blue;

    img {

        //width: 100%;
        //height: 300px;
        object-fit: cover;
        //border: 2px solid black;
        //object-position: 30% 150%;
    }
}