div#control {
  margin-top: 5px;
  width: calc(100% - 10px);
  height: 40px;
  background-color: rgba(0, 0, 0, 0.123);
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 0px 7px 7px 0px;
  /**** Search *****/ }
  div#control div#text {
    margin-left: 3px;
    display: block;
    width: 100px;
    height: 50%;
    margin-top: 10px;
    cursor: default; }
  div#control div#return {
    margin-left: 3px;
    display: block;
    width: 100px;
    height: 80%;
    margin-top: 3px;
    text-align: center;
    line-height: 30px;
    cursor: default;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white; }
  div#control div#return:hover {
    border: 1px solid red;
    color: red;
    background-color: #2904ff; }
  div#control div.choices {
    width: 130px;
    height: 70%;
    border: 1px solid black;
    margin-top: 5px;
    background-color: white;
    margin-right: 10px;
    line-height: 27px;
    display: inline;
    z-index: 1;
    /*ul:active {

            ul {
                display: none;
            }
        }*/ }
    div#control div.choices div#macdinh {
      background-color: red; }
    div#control div.choices div.content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      cursor: pointer; }
      div#control div.choices div.content div.left {
        margin-left: 1%;
        width: 80%;
        height: 100%;
        text-align: start; }
      div#control div.choices div.content div.right {
        width: 15%;
        height: 100%;
        text-align: end; }
    div#control div.choices ul {
      display: none;
      margin-left: 0px; }
      div#control div.choices ul li {
        list-style-type: none;
        width: 130px;
        height: 100%;
        margin-left: -40px;
        cursor: pointer; }
      div#control div.choices ul li:first-child {
        margin-top: -15px; }
      div#control div.choices ul i {
        display: none;
        line-height: 27px; }
      div#control div.choices ul li:hover {
        background-color: #c5eb1f; }
  div#control div.choices:hover ul {
    display: block; }
  div#control form {
    width: 300px;
    height: 80%;
    margin-left: calc(100% - 889px);
    margin-top: 2px;
    display: flex;
    flex-direction: row; }
    div#control form input {
      width: 265px;
      height: 93%;
      border-radius: 7px 0px 0px 7px;
      border: 1px solid black;
      border-right: none;
      font-size: 20px;
      outline: none; }
    div#control form input::-webkit-input-placeholder {
      font-size: 15px;
      line-height: 20px; }
    div#control form div#labelid {
      width: 35px;
      height: 100%;
      margin: 0px;
      padding: 0px;
      display: block;
      border-radius: 0px 7px 7px 0px;
      border: 1px solid black;
      border-left: none;
      background-color: white; }
      div#control form div#labelid label {
        height: 100%;
        font-size: 25px;
        color: #0059ff;
        text-align: center; }
        div#control form div#labelid label i {
          line-height: 32px; }
      div#control form div#labelid label:hover {
        color: red; }
  div#control div#shopping-cart {
    width: 40px;
    height: 94%;
    margin-top: 0px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    color: red;
    margin-left: 20px;
    margin-right: 0px;
    background-color: black;
    text-align: center; }
    div#control div#shopping-cart i {
      line-height: 40px; }
  div#control div#shopping-cart:hover {
    border: 1px solid #0066ff;
    color: #0066ff; }
