body {
  margin: 0px;
  padding: 0xp; }
  body div#container {
    margin: 0px;
    padding: 0xp;
    border: none;
    display: flex;
    flex-direction: column; }
    body div#container div#header-body {
      width: 100%;
      height: 1000px;
      border: none;
      display: flex;
      flex-direction: row; }
      body div#container div#header-body div#navbar {
        width: 200px;
        height: 100%;
        background-color: rgba(88, 192, 27, 0.5);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative; }
        body div#container div#header-body div#navbar div.navbar-items {
          width: 100%;
          height: 40px;
          font-size: 25px; }
          body div#container div#header-body div#navbar div.navbar-items a, body div#container div#header-body div#navbar div.navbar-items i {
            text-decoration: none;
            cursor: pointer;
            color: black;
            position: relative;
            top: 6px; }
        body div#container div#header-body div#navbar div#logo {
          width: 100%;
          height: 200px;
          border: none;
          margin: 0px;
          padding: 0px; }
          body div#container div#header-body div#navbar div#logo img {
            width: 200px;
            height: 200px; }
        body div#container div#header-body div#navbar div#home {
          font-size: 50px;
          height: 75px;
          background-color: #0f1721;
          border: none;
          margin: 0px;
          padding: 0px; }
          body div#container div#header-body div#navbar div#home a {
            position: absolute;
            text-decoration: none;
            left: 20px;
            top: 5px;
            cursor: pointer;
            color: #3a4688; }
        body div#container div#header-body div#navbar div#home:hover {
          background-color: black; }
          body div#container div#header-body div#navbar div#home:hover a {
            color: #eeff00; }
        body div#container div#header-body div#navbar div.navbar-items:hover {
          background-color: black; }
          body div#container div#header-body div#navbar div.navbar-items:hover a, body div#container div#header-body div#navbar div.navbar-items:hover i {
            color: #eeff00; }
        body div#container div#header-body div#navbar div.product {
          display: none; }
        body div#container div#header-body div#navbar div#buttonlogout {
          position: absolute;
          bottom: 0px; }
      body div#container div#header-body div#show {
        width: calc(100% - 200px);
        height: 100%;
        background-color: white; }
        body div#container div#header-body div#show div#myAccount {
          width: 100%;
          height: 100%;
          display: none;
          display: flex;
          flex-direction: column; }
          body div#container div#header-body div#show div#myAccount div#head-account {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 5%; }
            body div#container div#header-body div#show div#myAccount div#head-account div.my-account {
              width: 25%;
              height: 100%;
              text-align: center;
              font-size: 25px;
              border: 2px solid black;
              background-color: #cbff97;
              cursor: default; }
            body div#container div#header-body div#show div#myAccount div#head-account div.my-account:hover {
              color: #2947f3; }
          body div#container div#header-body div#show div#myAccount div#body-account {
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            margin: 5px;
            display: flex;
            flex-direction: row; }
            body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile {
              width: 400px;
              height: calc(100% - 10px);
              margin-top: 10px; }
              body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile img {
                width: 400px;
                height: 450px;
                object-fit: cover; }
              body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile video#videobycamera {
                display: none;
                object-fit: cover; }
              body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile canvas#canvasforvideo {
                display: none;
                object-fit: cover; }
              body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile div#loadimg {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                justify-content: center; }
                body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile div#loadimg label.loadby {
                  height: 30px;
                  width: 100px;
                  border: 1px solid black;
                  text-align: center;
                  line-height: 30px;
                  background-color: #cea4a4;
                  cursor: default; }
                body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile div#loadimg input#inputlib {
                  display: none; }
                body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile div#loadimg label#loadbycamera {
                  margin-right: 20px; }
                body div#container div#header-body div#show div#myAccount div#body-account div#imgprofile div#loadimg label.loadby:hover {
                  background-color: red; }
            body div#container div#header-body div#show div#myAccount div#body-account div#info {
              width: calc(100% - 400px);
              height: calc(100% - 50px);
              margin-top: 50px;
              margin-left: 50px;
              display: flex;
              flex-direction: row; }
              body div#container div#header-body div#show div#myAccount div#body-account div#info div#label-info {
                display: flex;
                flex-direction: column;
                width: 150px;
                height: 100%; }
                body div#container div#header-body div#show div#myAccount div#body-account div#info div#label-info label {
                  width: 100%;
                  height: 40px;
                  font-size: 20px; }
              body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info {
                display: flex;
                flex-direction: column;
                width: calc(100% - 550px);
                height: 100%; }
                body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info form {
                  height: 40px;
                  font-size: 20px; }
                  body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info form input {
                    width: 400px;
                    height: 20px;
                    font-size: 15px; }
                body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info form#radio-input {
                  display: flex;
                  flex-direction: row; }
                  body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info form#radio-input div.name-input {
                    height: 40px;
                    margin-right: 5px; }
                  body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info form#radio-input div.radio-input {
                    width: 20px;
                    height: 15px;
                    font-size: 20px;
                    margin-right: 50px; }
                    body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info form#radio-input div.radio-input input {
                      width: 20px;
                      height: 15px;
                      margin-top: 5px; }
                body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info div#fixinfo {
                  margin-top: 20px;
                  margin-left: 80px;
                  height: 30px;
                  width: 100px;
                  border: 1px solid black;
                  text-align: center;
                  line-height: 30px;
                  background-color: #cea4a4;
                  cursor: pointer; }
                body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info div#myAcc-notify {
                  margin-top: 20px;
                  margin-left: 30px;
                  height: 30px;
                  width: 300px;
                  line-height: 30px;
                  color: red;
                  cursor: default;
                  display: none; }
                body div#container div#header-body div#show div#myAccount div#body-account div#info div#input-info div#fixinfo:hover {
                  background-color: red; }
          body div#container div#header-body div#show div#myAccount div#my-Cart {
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            margin: 5px;
            display: flex;
            flex-direction: column; }
            body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart {
              width: calc(100% - 10px);
              height: 475px;
              margin: 5px;
              display: flex;
              flex-direction: column;
              overflow: scroll; }
              body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div#cart-notify {
                text-align: center;
                margin-top: 25px;
                font-size: 30px;
                display: none; }
              body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder {
                width: 100%;
                height: 100px;
                margin-top: 5px;
                display: flex;
                flex-direction: row; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.order-oke {
                  width: 40px;
                  height: 100px;
                  text-align: center; }
                  body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.order-oke input {
                    margin-top: 42px; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder img {
                  width: 100px;
                  height: 100px; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.order-pro {
                  width: calc(100% - 220px);
                  height: 60px;
                  margin-left: 10px;
                  font-size: 20px;
                  display: block; }
                  body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.order-pro div.name-pro {
                    height: 40px;
                    display: block; }
                  body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.order-pro div.cost-pro {
                    height: 40px;
                    display: block;
                    color: red; }
                  body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.order-pro div.quan-pro {
                    height: 20px;
                    display: block; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.id-pro {
                  display: none; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.path-pro {
                  display: none; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.delete-order {
                  width: 60px;
                  height: 100px;
                  line-height: 80px;
                  text-align: center; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div.neworder div.delete-order:hover {
                  color: red; }
              body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div#info-order {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 30px;
                display: none; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div#info-order div#label-info-order {
                  display: flex;
                  flex-direction: column;
                  width: 150px;
                  height: 210px;
                  font-size: 20px; }
                  body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div#info-order div#label-info-order label {
                    width: 150px;
                    height: 70px;
                    line-height: 35px; }
                body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div#info-order div#input-info-order {
                  display: flex;
                  flex-direction: column;
                  width: 500px;
                  height: 210px; }
                  body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div#info-order div#input-info-order form {
                    width: 500px;
                    height: 70px; }
                    body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div#info-order div#input-info-order form input {
                      width: 500px;
                      height: 30px;
                      font-size: 20px; }
              body div#container div#header-body div#show div#myAccount div#my-Cart div#body-cart div#notify-info-order {
                margin-top: 20px;
                width: 600px;
                height: 60px;
                font-size: 20px;
                color: red;
                display: none;
                text-align: center;
                margin-left: auto;
                margin-right: auto; }
            body div#container div#header-body div#show div#myAccount div#my-Cart div#order-box {
              height: calc(100% - 475px);
              display: flex;
              flex-direction: row;
              width: 100%;
              text-align: center;
              font-size: 25px;
              justify-content: center;
              cursor: pointer; }
              body div#container div#header-body div#show div#myAccount div#my-Cart div#order-box div#order-box-cost {
                width: 600px;
                margin-right: 30px;
                background-color: #ff91da;
                padding-top: 13px; }
              body div#container div#header-body div#show div#myAccount div#my-Cart div#order-box div#order-box-oke {
                width: 150px;
                padding-top: 13px;
                background-color: red;
                border: 1px solid rgba(0, 0, 0, 0); }
              body div#container div#header-body div#show div#myAccount div#my-Cart div#order-box div#order-box-oke:hover {
                background-color: #ffae00;
                border: 1px solid black; }
          body div#container div#header-body div#show div#myAccount div#my-Order {
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            display: flex;
            flex-direction: column;
            margin: 5px;
            margin-top: 5px; }
            body div#container div#header-body div#show div#myAccount div#my-Order div#body-order {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 480px;
              overflow: scroll; }
              body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div#order-notify {
                text-align: center;
                width: 100%;
                height: 60px;
                font-size: 30px;
                margin-top: 20px;
                display: none; }
              body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div#information-detail {
                margin-top: 10px;
                height: 305px;
                width: 100%;
                font-size: 20px;
                margin-bottom: 10px;
                display: none; }
                body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div#information-detail p {
                  margin-top: 15px;
                  margin-left: 10px; }
                body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div#information-detail div#title-info {
                  font-size: 35px;
                  font-weight: bolder;
                  text-align: center; }
                body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div#information-detail div.id-order {
                  width: 100%;
                  height: 40px;
                  margin-left: 10px; }
                body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div#information-detail div.cost-order {
                  width: 100%;
                  height: 40px;
                  margin-left: 10px; }
                body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div#information-detail div.status-order {
                  width: 100%;
                  height: 20px;
                  margin-left: 10px; }
              body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail {
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: row;
                margin-top: 10px; }
                body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order img, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail img {
                  width: 100px;
                  height: 100px;
                  margin-left: 10px; }
                body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail {
                  width: calc(100% - 115px);
                  height: 100px;
                  font-size: 20px;
                  margin-left: 5px;
                  cursor: default; }
                  body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information p, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail p, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information p, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail p {
                    display: none; }
                  body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information div.id-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information div.name-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail div.id-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail div.name-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information div.id-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information div.name-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail div.id-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail div.name-pro-detail {
                    width: 100%;
                    height: 40px; }
                  body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information div.cost-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information div.cost-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail div.cost-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail div.cost-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information div.cost-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information div.cost-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail div.cost-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail div.cost-pro-detail {
                    width: 100%;
                    height: 40px; }
                  body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information div.cost-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail div.cost-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information div.cost-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail div.cost-pro-detail {
                    color: red; }
                  body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information div.status-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information div.quan-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail div.status-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order div.order-information-detail div.quan-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information div.status-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information div.quan-pro-detail, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail div.status-order, body div#container div#header-body div#show div#myAccount div#my-Order div#body-order div.new-Order-detail div.order-information-detail div.quan-pro-detail {
                    width: 100%;
                    height: 20px; }
            body div#container div#header-body div#show div#myAccount div#my-Order div#box-in-detail {
              width: 100%;
              display: none;
              flex-direction: row; }
              body div#container div#header-body div#show div#myAccount div#my-Order div#box-in-detail div#cancel, body div#container div#header-body div#show div#myAccount div#my-Order div#box-in-detail div#come-back {
                text-align: center;
                font-size: 25px;
                margin-left: auto;
                margin-right: auto;
                width: 300px;
                height: 40px;
                padding-top: 10px;
                background-color: chartreuse;
                cursor: pointer; }
              body div#container div#header-body div#show div#myAccount div#my-Order div#box-in-detail div#cancel {
                background-color: #1f70ce; }
              body div#container div#header-body div#show div#myAccount div#my-Order div#box-in-detail div#cancel:hover {
                background-color: red; }
              body div#container div#header-body div#show div#myAccount div#my-Order div#box-in-detail div#come-back:hover {
                background-color: #b48f8f; }
        body div#container div#header-body div#show div#logout {
          width: 100%;
          height: 100%;
          text-align: center;
          display: none; }
          body div#container div#header-body div#show div#logout a {
            text-decoration: none;
            cursor: pointer;
            color: #3a4688;
            font-size: 20px; }
          body div#container div#header-body div#show div#logout a:hover {
            color: #eeff00; }
        body div#container div#header-body div#show div#slider {
          width: 100%;
          height: 35%;
          overflow: hidden;
          position: relative;
          margin-top: 5px; }
          body div#container div#header-body div#show div#slider div.slides {
            width: 500%;
            height: 100%;
            display: flex;
            flex-direction: row; }
            body div#container div#header-body div#show div#slider div.slides input {
              display: none; }
            body div#container div#header-body div#show div#slider div.slides #radio1:checked ~ .first {
              margin-left: 0; }
            body div#container div#header-body div#show div#slider div.slides #radio2:checked ~ .first {
              margin-left: -20%; }
            body div#container div#header-body div#show div#slider div.slides #radio3:checked ~ .first {
              margin-left: -40%; }
            body div#container div#header-body div#show div#slider div.slides #radio4:checked ~ .first {
              margin-left: -60%; }
            body div#container div#header-body div#show div#slider div.slides #radio5:checked ~ .first {
              margin-left: -80%; }
            body div#container div#header-body div#show div#slider div.slides div.slide {
              transition: 2s;
              width: 20%;
              text-align: center; }
              body div#container div#header-body div#show div#slider div.slides div.slide img {
                width: 98%;
                height: 100%;
                border-radius: 20px; }
            body div#container div#header-body div#show div#slider div.slides .navigation-auto {
              position: absolute;
              display: flex;
              width: 100%;
              justify-content: center;
              top: calc(100% - 30px); }
            body div#container div#header-body div#show div#slider div.slides .navigation-auto div {
              border: 2px solid #40D3DC;
              padding: 5px;
              border-radius: 10px;
              transition: 1s; }
            body div#container div#header-body div#show div#slider div.slides .navigation-auto div:not(:last-child) {
              margin-right: 40px; }
            body div#container div#header-body div#show div#slider div.slides #radio1:checked ~ .navigation-auto .auto-btn1 {
              background: #40D3DC; }
            body div#container div#header-body div#show div#slider div.slides #radio2:checked ~ .navigation-auto .auto-btn2 {
              background: #40D3DC; }
            body div#container div#header-body div#show div#slider div.slides #radio3:checked ~ .navigation-auto .auto-btn3 {
              background: #40D3DC; }
            body div#container div#header-body div#show div#slider div.slides #radio4:checked ~ .navigation-auto .auto-btn4 {
              background: #40D3DC; }
            body div#container div#header-body div#show div#slider div.slides #radio5:checked ~ .navigation-auto .auto-btn5 {
              background: #40D3DC; }
          body div#container div#header-body div#show div#slider div.navigation-manual {
            width: 100%;
            margin-top: -30px;
            display: flex;
            justify-content: center; }
            body div#container div#header-body div#show div#slider div.navigation-manual label.manual-btn {
              border: 2px solid #40D3DC;
              padding: 5px;
              border-radius: 10px;
              cursor: pointer;
              transition: 1s;
              z-index: 1; }
            body div#container div#header-body div#show div#slider div.navigation-manual label.manual-btn:not(:last-child) {
              margin-right: 40px; }
            body div#container div#header-body div#show div#slider div.navigation-manual label.manual-btn:hover {
              background: #40D3DC; }
        body div#container div#header-body div#show div#control {
          margin-top: 5px;
          width: calc(100% - 10px);
          height: 40px;
          background-color: rgba(0, 0, 0, 0.123);
          color: black;
          margin-left: 5px;
          margin-right: 5px;
          display: flex;
          flex-direction: row;
          border-radius: 0px 7px 7px 0px;
          /**** Search *****/ }
          body div#container div#header-body div#show div#control div#text {
            margin-left: 3px;
            display: block;
            width: 100px;
            height: 50%;
            margin-top: 10px;
            cursor: default; }
          body div#container div#header-body div#show div#control div#return {
            margin-left: 3px;
            display: block;
            width: 100px;
            height: 80%;
            margin-top: 3px;
            text-align: center;
            line-height: 30px;
            cursor: default;
            border: 1px solid black;
            border-radius: 10px;
            background-color: white; }
          body div#container div#header-body div#show div#control div#return:hover {
            border: 1px solid red;
            color: red;
            background-color: #2904ff; }
          body div#container div#header-body div#show div#control div.choices {
            width: 130px;
            height: 70%;
            border: 1px solid black;
            margin-top: 5px;
            background-color: white;
            margin-right: 10px;
            line-height: 27px;
            display: inline;
            z-index: 1;
            /*ul:active {

            ul {
                display: none;
            }
        }*/ }
            body div#container div#header-body div#show div#control div.choices div#macdinh {
              background-color: red; }
            body div#container div#header-body div#show div#control div.choices div.content {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: row;
              cursor: pointer; }
              body div#container div#header-body div#show div#control div.choices div.content div.left {
                margin-left: 1%;
                width: 80%;
                height: 100%;
                text-align: start; }
              body div#container div#header-body div#show div#control div.choices div.content div.right {
                width: 15%;
                height: 100%;
                text-align: end; }
            body div#container div#header-body div#show div#control div.choices ul {
              display: none;
              margin-left: 0px; }
              body div#container div#header-body div#show div#control div.choices ul li {
                list-style-type: none;
                width: 130px;
                height: 100%;
                margin-left: -40px;
                cursor: pointer; }
              body div#container div#header-body div#show div#control div.choices ul li:first-child {
                margin-top: -15px; }
              body div#container div#header-body div#show div#control div.choices ul i {
                display: none;
                line-height: 27px; }
              body div#container div#header-body div#show div#control div.choices ul li:hover {
                background-color: #c5eb1f; }
          body div#container div#header-body div#show div#control div.choices:hover ul {
            display: block; }
          body div#container div#header-body div#show div#control form {
            width: 300px;
            height: 80%;
            margin-left: calc(100% - 889px);
            margin-top: 2px;
            display: flex;
            flex-direction: row; }
            body div#container div#header-body div#show div#control form input {
              width: 265px;
              height: 93%;
              border-radius: 7px 0px 0px 7px;
              border: 1px solid black;
              border-right: none;
              font-size: 20px;
              outline: none; }
            body div#container div#header-body div#show div#control form input::-webkit-input-placeholder {
              font-size: 15px;
              line-height: 20px; }
            body div#container div#header-body div#show div#control form div#labelid {
              width: 35px;
              height: 100%;
              margin: 0px;
              padding: 0px;
              display: block;
              border-radius: 0px 7px 7px 0px;
              border: 1px solid black;
              border-left: none;
              background-color: white; }
              body div#container div#header-body div#show div#control form div#labelid label {
                height: 100%;
                font-size: 25px;
                color: #0059ff;
                text-align: center; }
                body div#container div#header-body div#show div#control form div#labelid label i {
                  line-height: 32px; }
              body div#container div#header-body div#show div#control form div#labelid label:hover {
                color: red; }
          body div#container div#header-body div#show div#control div#shopping-cart {
            width: 40px;
            height: 94%;
            margin-top: 0px;
            font-size: 25px;
            border: 1px solid black;
            border-radius: 10px;
            color: red;
            margin-left: 20px;
            margin-right: 0px;
            background-color: black;
            text-align: center; }
            body div#container div#header-body div#show div#control div#shopping-cart i {
              line-height: 40px; }
          body div#container div#header-body div#show div#control div#shopping-cart:hover {
            border: 1px solid #0066ff;
            color: #0066ff; }
        body div#container div#header-body div#show div#product {
          width: calc(100% - 10px);
          height: calc(65% - 99px);
          margin: 5px;
          padding: 0px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: 1fr 1fr; }
          body div#container div#header-body div#show div#product div.product-items {
            margin: 3px;
            font-size: 20px;
            border: 2px solid rgba(255, 0, 0, 0); }
            body div#container div#header-body div#show div#product div.product-items img {
              object-fit: cover; }
            body div#container div#header-body div#show div#product div.product-items div.pro-name {
              color: black;
              cursor: default; }
            body div#container div#header-body div#show div#product div.product-items div.price {
              display: inline;
              cursor: default; }
              body div#container div#header-body div#show div#product div.product-items div.price div.sale {
                display: inline;
                text-decoration: line-through;
                color: rgba(81, 82, 83, 0.685); }
              body div#container div#header-body div#show div#product div.product-items div.price div.cost {
                display: inline;
                color: red; }
          body div#container div#header-body div#show div#product div.product-items:hover {
            border: 2px solid red; }
          body div#container div#header-body div#show div#product div#not-found {
            text-align: center;
            line-height: 100px;
            font-size: 30px;
            display: none; }
        body div#container div#header-body div#show div#order-pro {
          width: 100%;
          height: calc(100% - 45px);
          display: flex;
          flex-direction: row; }
          body div#container div#header-body div#show div#order-pro div#slideshow, body div#container div#header-body div#show div#order-pro div#order {
            width: calc(50% - 10px);
            margin: 5px;
            height: calc(100% - 10px); }
          body div#container div#header-body div#show div#order-pro div#show1 {
            width: 100%;
            height: 80%; }
            body div#container div#header-body div#show div#order-pro div#show1 img {
              object-fit: cover; }
          body div#container div#header-body div#show div#order-pro div#show2 {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row; }
            body div#container div#header-body div#show div#order-pro div#show2 div#to-left, body div#container div#header-body div#show div#order-pro div#show2 div#to-right {
              font-size: 30px;
              height: calc(100% - 4px);
              width: 36px;
              text-align: center;
              background-color: white;
              border: 2px solid black; }
              body div#container div#header-body div#show div#order-pro div#show2 div#to-left i, body div#container div#header-body div#show div#order-pro div#show2 div#to-right i {
                line-height: 95px; }
            body div#container div#header-body div#show div#order-pro div#show2 div#to-left:hover {
              color: darkblue;
              border: 2px solid #0004ff; }
            body div#container div#header-body div#show div#order-pro div#show2 div#to-right:hover {
              color: darkblue;
              border: 2px solid #0004ff; }
            body div#container div#header-body div#show div#order-pro div#show2 div#allimg {
              width: calc(100% - 80px);
              height: 100%;
              display: flex;
              overflow: hidden;
              flex-direction: row; }
              body div#container div#header-body div#show div#order-pro div#show2 div#allimg div.allimg-item {
                margin-left: 2px;
                margin-right: 2px; }
                body div#container div#header-body div#show div#order-pro div#show2 div#allimg div.allimg-item img {
                  object-fit: cover; }
          body div#container div#header-body div#show div#order-pro div#order {
            width: calc(50% - 10px);
            margin: 5px;
            height: calc(100% - 10px);
            padding: 0px; }
            body div#container div#header-body div#show div#order-pro div#order div.order-items {
              width: 100%;
              height: 50px;
              font-size: 25px; }
            body div#container div#header-body div#show div#order-pro div#order div#description {
              height: 80px; }
            body div#container div#header-body div#show div#order-pro div#order div#price {
              display: flex;
              flex-direction: row; }
              body div#container div#header-body div#show div#order-pro div#order div#price div#oldcost {
                margin-right: 50px;
                text-decoration: line-through;
                color: rgba(81, 82, 83, 0.685); }
              body div#container div#header-body div#show div#order-pro div#order div#price div#newcost {
                color: red; }
            body div#container div#header-body div#show div#order-pro div#order div#quantily {
              display: flex;
              flex-direction: row; }
              body div#container div#header-body div#show div#order-pro div#order div#quantily div#minus {
                margin-right: 10px;
                text-align: center;
                line-height: 35px; }
              body div#container div#header-body div#show div#order-pro div#order div#quantily div#plus {
                margin-left: 20px;
                text-align: center;
                line-height: 35px; }
              body div#container div#header-body div#show div#order-pro div#order div#quantily div#minus:hover {
                color: red; }
              body div#container div#header-body div#show div#order-pro div#order div#quantily div#plus:hover {
                color: red; }
              body div#container div#header-body div#show div#order-pro div#order div#quantily div#quan-input {
                height: 100%;
                width: 200px; }
                body div#container div#header-body div#show div#order-pro div#order div#quantily div#quan-input input {
                  width: 100%;
                  height: 50%; }
            body div#container div#header-body div#show div#order-pro div#order div#add-pro {
              background-color: red;
              width: 250px;
              height: 40px;
              line-height: 40px;
              cursor: pointer; }
            body div#container div#header-body div#show div#order-pro div#order div#add-pro:hover {
              border: 2px solid black; }
        body div#container div#header-body div#show div#paginations {
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          body div#container div#header-body div#show div#paginations div.pagination {
            height: 38px;
            width: 38px;
            border: 1px solid black;
            background-color: white;
            border-right: none;
            text-align: center;
            font-size: 25px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            line-height: 37px;
            cursor: default; }
          body div#container div#header-body div#show div#paginations div#lastPag {
            border-right: 1px solid black; }
          body div#container div#header-body div#show div#paginations div.pagination:hover {
            color: #0004ff; }
    body div#container div#footers {
      width: 100%;
      height: 150px;
      border: none;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: row; }
      body div#container div#footers div.footers-items {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer; }
        body div#container div#footers div.footers-items li:hover {
          color: #eeff00; }
