body {
  margin: 0px;
  padding: 0xp; }
  body div#container {
    margin: 0px;
    padding: 0xp;
    border: none;
    display: flex;
    flex-direction: column; }
    body div#container div#header-body {
      width: 100%;
      height: 95vh;
      border: none;
      display: flex;
      flex-direction: row; }
      body div#container div#header-body div#navbar {
        width: 200px;
        height: 100vh;
        background-color: rgba(88, 192, 27, 0.5);
        text-align: center;
        display: flex;
        flex-direction: column; }
        body div#container div#header-body div#navbar div.navbar-items {
          width: 100%;
          height: 40px;
          font-size: 25px; }
          body div#container div#header-body div#navbar div.navbar-items a, body div#container div#header-body div#navbar div.navbar-items i {
            text-decoration: none;
            cursor: pointer;
            color: black;
            position: relative;
            top: 6px; }
        body div#container div#header-body div#navbar div#home {
          font-size: 50px;
          height: 75px; }
          body div#container div#header-body div#navbar div#home a {
            position: absolute;
            text-decoration: none;
            left: 20px;
            top: 5px;
            cursor: pointer;
            color: #3a4688; }
        body div#container div#header-body div#navbar div#home:hover {
          background-color: black; }
          body div#container div#header-body div#navbar div#home:hover a {
            color: #eeff00; }
        body div#container div#header-body div#navbar div.navbar-items:hover {
          background-color: black; }
          body div#container div#header-body div#navbar div.navbar-items:hover a, body div#container div#header-body div#navbar div.navbar-items:hover i {
            color: #eeff00; }
        body div#container div#header-body div#navbar div.product {
          display: none; }
      body div#container div#header-body div#show {
        width: calc(100% - 200px);
        height: 100%;
        background-color: white; }
        body div#container div#header-body div#show div#myAccount {
          display: none;
          width: 100%;
          height: 100%; }
        body div#container div#header-body div#show div#logout {
          width: 100%;
          height: 100%;
          text-align: center; }
          body div#container div#header-body div#show div#logout a {
            text-decoration: none;
            cursor: pointer;
            color: #3a4688;
            font-size: 20px; }
          body div#container div#header-body div#show div#logout a:hover {
            color: #eeff00; }
        body div#container div#header-body div#show div#product {
          display: none; }
    body div#container div#footers {
      width: 100%;
      height: 150px;
      border: none;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: row; }
      body div#container div#footers div.footers-items {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer; }
        body div#container div#footers div.footers-items li:hover {
          color: #eeff00; }
