div#order-pro {
  width: 100%;
  height: calc(100% - 45px);
  display: flex;
  flex-direction: row; }
  div#order-pro div#slideshow, div#order-pro div#order {
    width: calc(50% - 10px);
    margin: 5px;
    height: calc(100% - 10px); }
  div#order-pro div#show1 {
    width: 100%;
    height: 80%;
    background-color: blue; }
    div#order-pro div#show1 img {
      object-fit: cover; }
  div#order-pro div#show2 {
    width: 100%;
    height: 20%;
    background-color: coral; }
