div#show {
  width: calc(100% - 200px);
  height: 100%;
  background-color: white; }
  div#show div#myAccount {
    width: 100%;
    height: 100%;
    display: none; }
    div#show div#myAccount div#head-account {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 5%; }
      div#show div#myAccount div#head-account div.my-account {
        width: 25%;
        height: 100%;
        text-align: center;
        font-size: 25px;
        border: 2px solid black;
        background-color: #cbff97;
        cursor: default; }
      div#show div#myAccount div#head-account div.my-account:hover {
        color: #2947f3; }
  div#show div#logout {
    width: 100%;
    height: 100%;
    text-align: center; }
    div#show div#logout a {
      text-decoration: none;
      cursor: pointer;
      color: #3a4688;
      font-size: 20px; }
    div#show div#logout a:hover {
      color: #eeff00; }
  div#show div#slider {
    width: 100%;
    height: 35%;
    overflow: hidden;
    position: relative;
    margin-top: 5px; }
    div#show div#slider div.slides {
      width: 500%;
      height: 100%;
      display: flex;
      flex-direction: row; }
      div#show div#slider div.slides input {
        display: none; }
      div#show div#slider div.slides #radio1:checked ~ .first {
        margin-left: 0; }
      div#show div#slider div.slides #radio2:checked ~ .first {
        margin-left: -20%; }
      div#show div#slider div.slides #radio3:checked ~ .first {
        margin-left: -40%; }
      div#show div#slider div.slides #radio4:checked ~ .first {
        margin-left: -60%; }
      div#show div#slider div.slides #radio5:checked ~ .first {
        margin-left: -80%; }
      div#show div#slider div.slides div.slide {
        transition: 2s;
        width: 20%;
        text-align: center; }
        div#show div#slider div.slides div.slide img {
          width: 98%;
          height: 100%;
          border-radius: 20px; }
      div#show div#slider div.slides .navigation-auto {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        top: calc(100% - 30px); }
      div#show div#slider div.slides .navigation-auto div {
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 1s; }
      div#show div#slider div.slides .navigation-auto div:not(:last-child) {
        margin-right: 40px; }
      div#show div#slider div.slides #radio1:checked ~ .navigation-auto .auto-btn1 {
        background: #40D3DC; }
      div#show div#slider div.slides #radio2:checked ~ .navigation-auto .auto-btn2 {
        background: #40D3DC; }
      div#show div#slider div.slides #radio3:checked ~ .navigation-auto .auto-btn3 {
        background: #40D3DC; }
      div#show div#slider div.slides #radio4:checked ~ .navigation-auto .auto-btn4 {
        background: #40D3DC; }
      div#show div#slider div.slides #radio5:checked ~ .navigation-auto .auto-btn5 {
        background: #40D3DC; }
    div#show div#slider div.navigation-manual {
      width: 100%;
      margin-top: -30px;
      display: flex;
      justify-content: center; }
      div#show div#slider div.navigation-manual label.manual-btn {
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        z-index: 1; }
      div#show div#slider div.navigation-manual label.manual-btn:not(:last-child) {
        margin-right: 40px; }
      div#show div#slider div.navigation-manual label.manual-btn:hover {
        background: #40D3DC; }
  div#show div#control {
    margin-top: 5px;
    width: calc(100% - 10px);
    height: 40px;
    background-color: rgba(0, 0, 0, 0.123);
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    border-radius: 0px 7px 7px 0px;
    /**** Search *****/ }
    div#show div#control div#text {
      margin-left: 3px;
      display: block;
      width: 100px;
      height: 50%;
      margin-top: 10px;
      cursor: default; }
    div#show div#control div#return {
      margin-left: 3px;
      display: block;
      width: 100px;
      height: 80%;
      margin-top: 3px;
      text-align: center;
      line-height: 30px;
      cursor: default;
      border: 1px solid black;
      border-radius: 10px;
      background-color: white; }
    div#show div#control div#return:hover {
      border: 1px solid red;
      color: red;
      background-color: #2904ff; }
    div#show div#control div.choices {
      width: 130px;
      height: 70%;
      border: 1px solid black;
      margin-top: 5px;
      background-color: white;
      margin-right: 10px;
      line-height: 27px;
      display: inline;
      z-index: 1;
      /*ul:active {

            ul {
                display: none;
            }
        }*/ }
      div#show div#control div.choices div#macdinh {
        background-color: red; }
      div#show div#control div.choices div.content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        cursor: pointer; }
        div#show div#control div.choices div.content div.left {
          margin-left: 1%;
          width: 80%;
          height: 100%;
          text-align: start; }
        div#show div#control div.choices div.content div.right {
          width: 15%;
          height: 100%;
          text-align: end; }
      div#show div#control div.choices ul {
        display: none;
        margin-left: 0px; }
        div#show div#control div.choices ul li {
          list-style-type: none;
          width: 130px;
          height: 100%;
          margin-left: -40px;
          cursor: pointer; }
        div#show div#control div.choices ul li:first-child {
          margin-top: -15px; }
        div#show div#control div.choices ul i {
          display: none;
          line-height: 27px; }
        div#show div#control div.choices ul li:hover {
          background-color: #c5eb1f; }
    div#show div#control div.choices:hover ul {
      display: block; }
    div#show div#control form {
      width: 300px;
      height: 80%;
      margin-left: calc(100% - 889px);
      margin-top: 2px;
      display: flex;
      flex-direction: row; }
      div#show div#control form input {
        width: 265px;
        height: 93%;
        border-radius: 7px 0px 0px 7px;
        border: 1px solid black;
        border-right: none;
        font-size: 20px;
        outline: none; }
      div#show div#control form input::-webkit-input-placeholder {
        font-size: 15px;
        line-height: 20px; }
      div#show div#control form div#labelid {
        width: 35px;
        height: 100%;
        margin: 0px;
        padding: 0px;
        display: block;
        border-radius: 0px 7px 7px 0px;
        border: 1px solid black;
        border-left: none;
        background-color: white; }
        div#show div#control form div#labelid label {
          height: 100%;
          font-size: 25px;
          color: #0059ff;
          text-align: center; }
          div#show div#control form div#labelid label i {
            line-height: 32px; }
        div#show div#control form div#labelid label:hover {
          color: red; }
    div#show div#control div#shopping-cart {
      width: 40px;
      height: 94%;
      margin-top: 0px;
      font-size: 25px;
      border: 1px solid black;
      border-radius: 10px;
      color: red;
      margin-left: 20px;
      margin-right: 0px;
      background-color: black;
      text-align: center; }
      div#show div#control div#shopping-cart i {
        line-height: 40px; }
    div#show div#control div#shopping-cart:hover {
      border: 1px solid #0066ff;
      color: #0066ff; }
  div#show div#product {
    width: calc(100% - 10px);
    height: calc(65% - 99px);
    margin: 5px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr; }
    div#show div#product div.product-items {
      margin: 3px;
      font-size: 20px;
      border: 2px solid rgba(255, 0, 0, 0); }
      div#show div#product div.product-items img {
        width: 100%;
        height: 80%; }
      div#show div#product div.product-items div.pro-name {
        color: black;
        cursor: default; }
      div#show div#product div.product-items div.price {
        display: inline;
        cursor: default; }
        div#show div#product div.product-items div.price div.sale {
          display: inline;
          text-decoration: line-through;
          color: rgba(81, 82, 83, 0.685); }
        div#show div#product div.product-items div.price div.cost {
          display: inline;
          color: red; }
    div#show div#product div.product-items:hover {
      border: 2px solid red; }
  div#show div#order-pro {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    flex-direction: row; }
    div#show div#order-pro div#slideshow, div#show div#order-pro div#order {
      width: calc(50% - 10px);
      margin: 5px;
      height: calc(100% - 10px); }
    div#show div#order-pro div#show1 {
      width: 100%;
      height: 80%;
      background-color: blue; }
      div#show div#order-pro div#show1 img {
        object-fit: cover; }
    div#show div#order-pro div#show2 {
      width: 100%;
      height: 20%;
      background-color: coral; }
  div#show div#paginations {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    div#show div#paginations div.pagination {
      height: 38px;
      width: 38px;
      border: 1px solid black;
      background-color: white;
      border-right: none;
      text-align: center;
      font-size: 25px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 37px;
      cursor: default; }
    div#show div#paginations div#lastPag {
      border-right: 1px solid black; }
    div#show div#paginations div.pagination:hover {
      color: #0004ff; }
