<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/alluse/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/2d94e21419.js?fbclid=IwAR2By_hmLbMS2TxGk27c2rCfrVqIGTAnGInWtegS7e-I9G71msge-tffqJk"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/alluse/cookie.js"></script>
    <script src="/js/static/navbar.js"></script>
    <script src="/js/static/footers.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <div id="container" style="height: 700px;">
        <div id="header-body">
            <div id="navbar"></div>
            <div id="show">
                <div id="myAccount">
                    <div id="head-account">
                        <div class="my-account" id="myProfile" onclick="myProfile()">
                            Thông tin cá nhân
                        </div>
                        <div class="my-account" id="myCart" onclick="myCart()"> 
                            Giỏ hàng
                        </div>
                        <div class="my-account" id="myOrder" onclick="myOrder()"> 
                            Đơn hàng
                        </div>
                        <div class="my-account" id="myMess"  onclick="myMess()">
                            Tin nhắn
                        </div>
                    </div>
                    <div id="body-account">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="footers"></div>
    </div>
    <script text="text/javascript" src="/api/account/accessToken.js"></script>
    <script text="text/javascript" src="/js/home/navbarProfile.js"></script>
    <script text="text/javascript" src="/js/home/navbar.js"></script>
    <script text="text/javascript" src="/js/home/profile.js"></script>
</body>
</html>