<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/alluse/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./css/home.css">
    <title>home</title>
</head>
<body>
    <p>
        Day la trang Home
    </p>
    <button id="btn" onclick="clickbtn()">click me</button>
    <br>
    <a href="./logout">Logout</a>
    <script src="./js/home/home.js"></script>
</body>
</html>